<div class="container" [ngClass]="responsiveClass">
    <div class="header">Hinweise</div>
    <div class="inner-container">
        <div class="remaining-tokens">
            <div class="tokens-amount">
                <img src="assets/images/icons/token.png" />
                <p>&nbsp;{{remainingTokens}}</p>
            </div>
        </div>
        <div class="select-hint">
            <div [ngClass]="hintStatus >= 1? 'selected' : ''" (click)="hintSelected(1)">
                <img src="assets/images/icons/token.png" />
                <p>&nbsp;1</p>
            </div>
            <div [ngClass]="hintStatus >= 2? 'selected' : ''" (click)="hintSelected(2)">
                <img src="assets/images/icons/token.png" />
                <p>&nbsp;2</p>
            </div>
            <div [ngClass]="hintStatus >= 3? 'selected' : ''" (click)="hintSelected(3)">
                <img src="assets/images/icons/token.png" />
                <p>&nbsp;3</p>
            </div>
        </div>
        <div class="hint-description">
            <mat-progress-spinner mode="indeterminate" *ngIf="hintQueryRunning"></mat-progress-spinner>
            <div>{{hintText}}</div>
        </div>
    </div>
</div>