.container {
    width: 20vw;
    height: 100vh;
    border-left: 1px solid #D8D8D8;
}

.header {
    width: 20vw;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-family: fantasy;
    color: lightgreen;
}