.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 20vw;
    border-right: 1px solid #D8D8D8;
}

.header {
    width: 20vw;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-family: fantasy;
    color: lightgreen;
}

.game-stats {
    width: 18vw;
    height: 50vh;
    margin: 1vw;
    border: 2px dashed lightgreen;
}

.active-difficulty {
    width: 18vw;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-family: fantasy;
    color: lightgreen;
    text-transform: uppercase;
}

span {
    width: 20vw;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:hover {
    background-color: lightgreen;
}

.selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    background-color: lightgreen;
}

.clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.clickable>img,
.selected>img {
    width: 2.5rem;
    height: auto;
}

.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 10vh;
}

.language-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    margin-bottom: 0.5rem;
}