<div class="container" [ngClass]="responsiveClass">
    <div class="first-container">
        <p class="header" (click)="openHandbook()">MINESWEEPER</p>
    </div>
    <div class="second-container">
        <div class="game-stats">
            <div class="first-inner">
                <div class="active-difficulty">
                    <p>{{difficulty}}</p>
                </div>
                <div class="timer">
                    <div class="time">{{minutes}}:{{seconds}}</div>
                </div>
                <div class="progress">
                    <progress id="prgoress" [value]="revealedCells" [max]="totalCells - mineAmount"></progress>
                </div>
            </div>
            <div class="second-inner">
                <div class="flags ">
                    <div class="flags-inner " [ngClass]="isFlagMode? 'remove-flag' : 'set-flag'" (click)="toggleFlagMode()">
                        <div class="vertical-container">
                            <img src="assets/images/game_icons/flagged.png ">
                        </div>
                        <div class="vertical-container">&nbsp;{{remainingFlags}}</div>
                    </div>
                </div>
                <div class="flag-toggle">
                    <mat-slide-toggle [checked]="isFlagPermanently" (change)="toggleSetFlagPermanently($event)"></mat-slide-toggle>
                </div>
                <div class="mines ">
                    <div class="mines-inner ">
                        <div class="vertical-container ">
                            <img src="assets/images/game_icons/mine.png ">
                        </div>
                        <div class="vertical-container">&nbsp;{{mineAmount}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-panel">
            <div class="difficulties-header ">Schwierigkeitsgrade</div>
            <ul class="difficulties ">
                <li *ngFor="let diff of difficulties ">
                    <div *ngIf="diff==difficulty" class="selected ">
                        <img src="{{ 'assets/images/icons/' + diff + '.png'}} " />
                    </div>
                    <div *ngIf="diff != difficulty " class="clickable " (click)="setDifficulty(diff) ">
                        <img src="{{ 'assets/images/icons/' + diff + '.png'}} " />
                    </div>
                </li>
            </ul>
            <button type="button " (click)="restartGame()">Neustarten</button>
        </div>
    </div>
</div>