<div class="container">
    <div class="first-inner">
        <div class="header">MINESWEEPER</div>
    </div>
    <div class="second-inner">
        <div class="game-stats">
            <div class="first-container">
                <div class="active-difficulty">
                    {{'DIFFICULTIES.' + gameStats.difficulty|translate}}
                </div>
                <pre></pre>
                <div class="timer">
                    <div class="time">{{minutes}}:{{seconds}}</div>
                </div>
                <div class="progress">
                    <progress id="prgoress" [value]="gameStats.revealedCells" [max]="gameStats.totalCells"></progress>
                </div>
            </div>
            <div class=" second-container ">
                <pre></pre>
                <div class="flags ">
                    <div class="stat-container ">
                        <div class="inner-stat ">
                            <div class="vertical-container ">
                                <img src="assets/images/game_icons/flagged.png ">
                            </div>
                            <p>&nbsp;{{gameStats.remainingFlags}}</p>
                        </div>
                    </div>
                </div>
                <pre></pre>
                <div class="bombs ">
                    <div class="stat-container ">
                        <div class="inner-stat ">
                            <div class="vertical-container ">
                                <img src="assets/images/game_icons/bomb.png ">
                            </div>
                            <p>&nbsp;{{gameStats.remainingBombs}}</p>
                        </div>
                    </div>
                </div>
                <pre></pre>
                <div class="restart ">
                    <button type="button " (click)="restartGame()">{{'APP.RESTART'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="selectors ">
            <div class="difficulty ">
                <div class="selector-header ">{{'SETTINGS.DIFFICULTIES'|translate}}</div>
                <ul class="difficulties ">
                    <li *ngFor="let difficulty of difficulties ">
                        <div *ngIf="difficulty==gameStats.difficulty" class="selected ">
                            <img src="{{ 'assets/images/icons/' + difficulty + '.png'}} " />
                        </div>
                        <div *ngIf="difficulty != gameStats.difficulty " class="clickable " (click)="setDifficulty(difficulty) ">
                            <img src="{{ 'assets/images/icons/' + difficulty + '.png'}} " />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="language-selector ">
                <div class="selector-header ">{{'SETTINGS.LANGUAGES'|translate}}</div>
                <ul class="languages ">
                    <li *ngFor="let language of languages ">
                        <div *ngIf="language== selectedLanguage " class="selected ">
                            <img src="{{ 'assets/images/flags/' + language + '.png'}} " />
                        </div>
                        <div *ngIf="language != selectedLanguage " class="clickable " (click)="setLanguage(language) ">
                            <img src="{{ 'assets/images/flags/' + language + '.png'}} " />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>