<div class="container">
    <div class="header">MINESWEEPER</div>
    <div class="game-stats">
        <div class="active-difficulty">
            {{'DIFFICULTIES.' + selectedDifficulty|translate}}
        </div>
        <div class="timer"></div>
        <div class="score"></div>
        <div class="flags"></div>
        <div class="restart"></div>
    </div>
    <div class="difficulty">
        <span>{{'SETTINGS.DIFFICULTIES'|translate}}</span>
        <ul class="difficulties">
            <li *ngFor="let difficulty of difficulties">
                <div *ngIf="difficulty == selectedDifficulty" class="selected">
                    <img src="{{ 'assets/images/difficulties/' + difficulty + '.png'}} " />
                </div>
                <div *ngIf="difficulty != selectedDifficulty " class="clickable" (click)="setDifficulty(difficulty) ">
                    <img src="{{ 'assets/images/difficulties/' + difficulty + '.png'}} " />
                </div>
            </li>
        </ul>
    </div>
    <div class="language-selector ">
        <span>{{'SETTINGS.LANGUAGES'|translate}}</span>
        <ul class="languages ">
            <li *ngFor="let language of languages ">
                <div class="clickable " (click)="newLanguage(language) ">
                    <img src="{{ 'assets/images/flags/' + language + '.png'}} " />
                </div>
            </li>
        </ul>
    </div>
</div>