<div class="container" [ngClass]="responsiveClass">
    <div class="caption">Handbuch</div>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Minesweeper
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="content">Minesweeper ist ein ursprünglich von Microsoft entwickeltes Spiel, welches bis zu der Version Windows 7 auf allen Rechnern vorinstalliert war. Das Logik basierte Spiel, welches für einen kompetitiven Vergleich auf Zeit gespielt wird, begeisterte
            Viele und entfachte einen Wettstreit mit dem Ziel so schnell wie möglich das gesamte Spielfeld aufzudecken. Den Spieler*Innen stehen dabei die Minen im Weg, welche sich unter einigen verdeckten Feldern befinden. Um diesen aus dem Weg zu gehen
            befinden sich unter den anderen Feldern Ziffern zwischen 1 und 8, mithilfe derer auf die Anzahl der umliegenden Minen geschlossen werden kann. Ein Sonderfall dabei sind die leeren Felder, welche auftreten sollte sich in den umliegenden Feldern
            keine Mine befinden. Haben Spieler*Innen eine vermeintliche Mine ausfindig gemacht, so besteht die Möglichkeit diese mit einem Fähnchen zu markieren, um diese im weiteren Verlauf der Runde nicht versehentlich aufzudecken.</p>
        <p>&nbsp;</p>
        <p class="content">Für eine Leistungssteigerung in diesem logik basierten Spiel, müssen die Spieler*Innen die auftreten Muster analysieren und aus diesen auf die Position von Minen zu schließen, um diese entweder zu markieren oder umliegende Felder aufzudecken.
            Diese Version des Minesweeper-Klassikers bietet die Möglichkeit Spielmuster mithilfe eines Tipp-Systems zu erkennen, um diese somit in folgenden Spielen ohne Hilfestellung zu entdecken.</p>
    </mat-expansion-panel>
    <pre></pre>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                App-Funktionalitäten
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Schwierigkeitsgrade
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="content">Diese Version des Minesweeper Klassikers ist in drei Schwierigkeitsgraden spielbar:</p>
            <ul class="content">
                <li>Anfänger (10 x 10)</li>
                <li>Fortgeschritten (15 x 15)</li>
                <li>Experte (20 x 20)</li>
            </ul>
            <img src="assets/images/handbook/difficulties.png">
            <p class="content">Der Schwierigkeitsgrad kann mithilfe der Smileys am Rand des Spielfelds eingestellt werden. Dabei wird der aktuell ausgewählte Schwierigkeitsgrad grün hinterlegt.</p>
        </mat-expansion-panel>
        <p>&nbsp;</p>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Flaggen setzen
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
        <p>&nbsp;</p>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tippsystem
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
    </mat-expansion-panel>
    <pre></pre>
    <div class="footer ">Jannis Kehrhahn & Marcel Nöhre</div>
    <i class="fa fa-times " (click)="closeHandbook() "></i>
</div>