.container {
    height: 100vh;
    width: 100vw;
    text-align: center;
    overflow: auto;
    background-color: #1C1C1C;
    color: white;
}

pre,
.caption,
.header,
.content,
.footer {
    width: 100%;
}

.caption,
.header,
.footer {
    font-family: fantasy;
    color: lightgreen;
}

pre {
    margin: 0;
    padding: 0;
}

i {
    position: absolute;
    top: 0;
    right: 0;
    color: lightgreen;
}

.handset-portrait,
.small {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    .caption {
        font-size: 10vw;
        line-height: 10vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .header {
        font-size: 7.5vw;
        line-height: 7.5vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .content {
        font-size: 4vw;
        line-height: 4vw;
    }
    pre {
        height: 5vh;
    }
    .footer {
        font-size: 4vw;
        line-height: 4vw;
        padding-bottom: 2vh;
    }
    i {
        padding: 5vw;
        font-size: 10vw;
        line-height: 10vw;
    }
}

.handset-landscape,
.large {
    padding-left: 3vw;
    padding-right: 3vw;
    width: 94vw;
    .caption {
        font-size: 7.5vw;
        line-height: 7.5vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .header {
        font-size: 5vw;
        line-height: 5vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .content {
        font-size: 2.5vw;
        line-height: 2.75vw;
    }
    pre {
        height: 5vh;
    }
    .footer {
        font-size: 2.75vw;
        line-height: 2.75vw;
        padding-bottom: 2vh;
    }
    i {
        padding: 2.5vw;
        font-size: 6vw;
        line-height: 6vw;
    }
}

.web-landscape,
.medium {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    .caption {
        font-size: 7.5vw;
        line-height: 7.5vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .header {
        font-size: 5vw;
        line-height: 5vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .content {
        font-size: 2.25vw;
        line-height: 2.5vw;
    }
    pre {
        height: 5vh;
    }
    .footer {
        font-size: 2.75vw;
        line-height: 2.75vw;
        padding-bottom: 2vh;
    }
    i {
        padding: 2.5vw;
        font-size: 5vw;
        line-height: 5vw;
    }
}