<div class="container" [ngClass]="responsiveClass">
    <div class="caption">Handbuch</div>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Minesweeper
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas impedit eum saepe non vitae eos esse cupiditate id? Nesciunt amet veniam in voluptatibus. Molestias rerum culpa unde magni beatae reiciendis!Loremloremlore Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Nobis blanditiis veniam earum, enim eveniet tempore ipsa voluptas illo sunt et sint esse, ratione saepe minima maxime repellat totam non reprehenderit.</p>
    </mat-expansion-panel>
    <pre></pre>
    <div class="footer ">Jannis Kehrhahn & Marcel Nöhre</div>
    <i class="fa fa-times " (click)="closeHandbook() "></i>
</div>