.horizontal-container {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 100vh;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 87vh;
    height: 100vh;
}

.board {
    height: 87vh;
    width: 87vh;
    background-color: #D8D8D8;
}

.field {
    height: 85vh;
    width: 85vh;
    padding: 1vh;
}

.row {
    display: flex;
    width: 100%;
    height: 8.5vh;
}