.horizontal-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

.board {
    height: 98vw;
    width: 98vw;
    margin: 1vw;
    background-color: #D8D8D8;
}

.field {
    height: 96vw;
    width: 96vw;
    padding: 1vw;
}

.row {
    display: flex;
    width: 100%;
}

.BEGINNER {
    height: 9.6vw;
}

.ADVANCED {
    height: 6.4vw;
}

.EXTREME {
    height: 4.8vw;
}

@media (min-width: 1000px) {
    .horizontal-container {
        width: 60vw;
        height: 100vh;
    }
    .vertical-container {
        width: 60vw;
        height: 100vh;
    }
    .board {
        height: 59vw;
        width: 59vw;
        margin: 0.5vw;
    }
    .field {
        height: 58vw;
        width: 58vw;
        padding: 0.5vw;
    }
    .BEGINNER {
        height: 5.8vw;
    }
    .ADVANCED {
        height: 3.86vw;
    }
    .EXTREME {
        height: 2.9vw;
    }
}