.BEGINNER {
    height: 9.45vh;
    width: 9.45vh;
}

.ADVANCED {
    height: 5.3125vh;
    width: 5.3125vh;
}

.EXTREME {
    height: 3.4vh;
    width: 3.4vh;
}

img {
    height: 100%;
    width: 100%;
}