@import 'assets/styles/material.css';
html,
body {
    height: 100%;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* Standard */
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #1c1c1c;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}