<div class="container" [ngClass]="result">
    <div class="header">
        <p *ngIf="result == 'LOSE'">Viel Glück beim nächsten Mal!</p>
        <p *ngIf="result == 'WIN'">Sie haben Gewonnen!</p>
    </div>
    <div class="content">
        <div *ngIf="result == 'LOSE'">
            <p>Benötigte Zeit:</p>
            <p>{{minutes}}:{{seconds}}</p>
            <hr>
            <p>Aufgedeckte Felder:</p>
            <p>{{revealedCells}}/{{totalCells}}</p>
            <hr>
            <p>Fähnchen platziert:</p>
            <p>{{flagAmount - remainingFlags}}/{{flagAmount}}</p>
            <hr>
            <p>Korrekt platzierte Fähnchen:</p>
            <p>{{flaggedBombs}}/{{flagAmount - remainingFlags}}</p>
            <hr>
            <p>Genutzte Tokens:</p>
            <p>{{totalTokens - remainingTokens}}/{{totalTokens}}</p>
        </div>
        <div *ngIf="result == 'WIN'" class="winner">
            <p>Benötigte Zeit:</p>
            <p>{{minutes}}:{{seconds}}</p>
            <hr>
            <p>Genutzte Tokens:</p>
            <p>{{totalTokens - remainingTokens}}/{{totalTokens}}</p>
        </div>
    </div>
</div>